@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"); 
body {
  font-family: cursive;
  background-image: url("https://github.com/dotnetDev-Revclerx/StudentForm/blob/41db9bd17cdec67d7008d14f79f00e18fda7537c/image/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: rgba(31, 38, 135, 0.37) 0px 8px 32px 0px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0px 50px;
  transform: translateY(2%);
}

.contact h4, h2 {
  text-align: center;
  font-style: normal;
  font-size: 60px;
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  padding: 20px 0px;
}

.contact span {
  color: rgb(0, 0, 0);
}

.contact h2 {
  padding-bottom: 22px;
  font-size: 50px;
  color: rgb(0, 0, 0);
}

.contact label {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-style: oblique;
}

.contact .student-form .form-group {
  padding-bottom: 20px;
}

.contact .student-form input {
  height: 44px;
}

select#gender{
  height: 44px
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
  -moz-appearance:textfield;
}
textarea.form-control {
  height: 44px;
}
button {
  border: 0px;
  padding: 13px 48px;
  color: rgb(255, 255, 255);
  transition: all 0.4s ease 0s;
  border-radius: 4px;
  background-image: linear-gradient(90deg, rgb(140, 224, 241), rgb(121, 243, 145));
  margin: 8px 25px;
  font-weight: 600;
}
button.swal2-confirm.swal2-styled{
  padding: 18px 74px;
  border-radius: 10px;
}

#edit-student {
  background: red;
}

#show-details {
  border: 0px;
  padding: 13px 48px;
  transition: all 0.4s ease 0s;
  border-radius: 4px;
  margin: auto auto 32px;
  display: block;
  outline: rgb(25, 119, 204) solid 2px;
  color: rgb(0, 0, 0);
  background-color: transparent;
}

#gender input {
  height: 13px;
  margin: 0px 20px;
  accent-color: red;
  border: none;
}

#show-details:hover {
  background-image: linear-gradient(rgb(121, 243, 145), rgb(140, 224, 241));
  transition: all 0.1s ease 0s;
  color: rgb(255, 255, 255);
}

  /* button[type="button"]:nth-child(2):hover {
    background-image: none;
    background-color: red;
    transition: all 0.15s ease 0s;
    color: rgb(255, 255, 255);
  } */

#show-details:hover {
  background-color: rgb(25, 119, 204);
  color: rgb(255, 255, 255);
  transition: all 0.4s ease 0s;
}

span.error {
  color: red;
  font-weight: 600;
}

.table-responsive {
  margin-bottom: 20px;
}

.modal-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: rgb(25, 119, 204);
}

.modal-body {
  font-size: 20px;
  line-height: 1.5;
}

.modal-body input {
  margin-bottom: 14px;
}

.modal-body .btn {
  margin: 4px 31px;
}

#swal2-title {
  font-family: monospace;
}

#searchButton {
  background-color: rgb(25, 119, 204);
  margin: auto;
  display: block;
}

tbody#tbody-class {
  font-size: 17px;
}

thead {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.modal-footer {
  padding: 15px;
  text-align: center;
  border-top: 1px solid #e5e5e5;  
}
.modal-footer .btn+.btn {
   margin-bottom: 0; 
   margin-left: 0; 
}
.modal-footer .btn+.btn {
  margin-bottom: 0; 
   margin-left: 0; 
}

@media (max-width: 750px) {
  .contact h4 {
      font-size: 40px;
      padding: 30px 0px;
  }

  .contact h2 {
      font-size: 40px;
  }

  .contact label {
      font-size: 17px;
  }

  button[type="submit"] {
      padding: 15px 19px;
  }

  button[type="show-data"] {
      padding: 15px 19px;
  }
}
